*,
::before,
::after {
  box-sizing: border;
  margin: 0;
  padding: 0;
}

html,
body {
  overscroll-behavior: none;
  background-color: black;
  overflow: hidden;
}

#app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px;
  height: 1080px;
  background-color: black;
}
