*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overscroll-behavior: none;
  background-color: black;
  overflow: hidden;
}

#app {
  position: relative;
}

#app, #app__canvas {
  width: 100vw;
  height: 100vh;
}

.options {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  display: flex; 
  gap: 0.5rem;
  z-index: 10;
}

.option {
  background-color: white;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  padding: 0 0.5rem;
  cursor: pointer;
}

.option:hover {
  background-color: #eee;
}

.option--square {
  width: 1.5rem;
  padding: 0.25rem;
}


#seed::before {
  content: "#";
  color: #777;
}
